[submodule "ThirdParty/asio"]
	path = ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "ThirdParty/inih"]
	path = ThirdParty/inih
	url = https://github.com/benhoyt/inih.git
[submodule "ThirdParty/workflow"]
	path = ThirdParty/workflow
	url = https://github.com/sogou/workflow.git
	branch = nossl
