[submodule "Common/ThirdParty/asio"]
	path = Common/ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "Common/ThirdParty/inih"]
	path = Common/ThirdParty/inih
	url = https://github.com/benhoyt/inih.git
